html {
  box-sizing: border-box;
  background: #862d2d;
  font-family: "PT Mono", monospace;
  font-size: 20px;
  font-weight: bold;
  color: #4d0026;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

input {
  width: 100%;
  padding: 20px;
}

.search-form {
  max-width: 500px;
  margin: 50px auto;
}

input.search {
  margin: 0;
  text-align: center;
  outline: 0;
  border: 10px double #7575a3;
  width: 120%;
  position: relative;
  left: -10%;
  top: 10px;
  z-index: 2;
  border-radius: 5px;
  font-size: 30px;
  /*box-shadow: 0 0 5px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.19);*/
}
input[type] {
  font-family: "PT Mono", monospace;
  font-size: 25px;
  font-weight: bold;
  color: #4d0026;
}

.suggestions {
  margin: 0;
  padding: 0;
  position: relative;
}

.suggestions li {
  background: white;
  list-style: none;
  border-bottom: 1px solid #d8d8d8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
  margin: 0;
  padding: 20px;
  transition: background 0.2s;
  display: flex;
  flex: 1;
  justify-content: space-between;
  text-transform: capitalize;
  border: 10px double #7575a3;
}

.suggestions li:nth-child(even) {
  transform: perspective(100px) rotateX(3deg) translateY(2px) scale(1.001);
  background: linear-gradient(to bottom, #ffffff 0%, #efefef 100%);
}
.suggestions li:nth-child(odd) {
  transform: perspective(100px) rotateX(-3deg) translateY(3px);
  background: linear-gradient(to top, #ffffff 0%, #efefef 100%);
}

span.population,
span.name,
span.growth {
  font-size: 20px;
  padding: 5px;
}

.hl {
  background: #cccc00;
}

.growth {
  color: #990000;
}

.legend {
  text-align: center;
  color: white;
  font-size: 15px;
  letter-spacing: 1px;
  margin: 50px auto;
  display: block;
}

footer {
  text-align: center;
  font-style: italic;
  margin: auto;
  display: block;
  color: white;
  font-size: 14px;
}

@media only screen and (max-width: 768px) {
  html,
  input.search,
  span.population,
  span.name,
  span.growth {
    font-size: 12px;
  }

  .search-form {
    max-width: 250px;
  }
  
  .suggestions li {
    padding: 10px;
  }
}
